<div class="container mt-4 d-flex  justify-content-center pt-5">
        <div class="card " style="width: 18rem;">            
            <div class="card-header">Login Form</div>    
            <div class="card-body">
                {{#if error}}
               <p>{{error}}</p>
               
                {{/if}}
                
               
                <form action="/Admin/login" method="POST">
                   
                    <div class="mb-3">
                        <label for="email-reg" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email-reg" name="email">                        
                    </div>
                    <div class="mb-3">
                        <label for="password-reg" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password-reg" name="password">
                    </div>
                       <div class="d-flex  justify-content-center mt-4"><button type="submit" class="btn btn-primary ">Submit</button></div>
                    
                </form>
            </div>
        </div>
    </div>