 <section>
          <div class="container mt-3 ">

        <div class="row ">
            {{#each products}}

            <div class=" col-md-3 col-sm-6 ">


                <div class="card text-center" style="width: 17rem;">
                    <img src={{image}} class=" mx-auto" width="200px" height="220px" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <p class="card-text">{{description
                            }}</p>
                        <a  class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>

            </div>

            {{/each}}
           

            </div>



        </div>
        </div>

    </section>