<section>
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Congratulations!</h4>
  <p>Great news! Your order has been successfully placed.</p>
  <hr>
  <p class="mb-0">Our efficient delivery system will ensure that your products are delivered to you within a week.</p>
  <a href="/orders" class="btn btn-primary">View Orders</a>
</div>
</section>
