
<section class="row ms-3 mt-5" >
  <div class="w-50 col">
    <div class="d-flex justify-content-center">
      <form id="form1"> 
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Name</label>
            <input type="Name" class="form-control" name="name" id="name" placeholder="Name">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Address</label>
          <input type="text" name="address" class="form-control" id="inputAddress" placeholder="street/road">
        </div>
      
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="Mobile">mobile no</label>
            <input type="text" class="form-control" name="mobile" id="mobile">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select name="inputState" id="state" class="form-control">
              <option selected>Choose...</option>
              <option>Kerala</option>
              <option>TamilNadu</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="zip" name="inputZip">
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            
            <input type="text" name="userId" value="{{user._id}}" hidden>
            <div class="text-center">
          <button type="submit" class=" btn btn-dark">Confirm Payment</button>
        </div>
        <div id="error-message" style="color: red;"> </div>
          </div>
        </div>
      
    </div>
  </div>
  <div class="col border border-dark  me-5">
    <div class="">
      <div class="mt-5">
        <div class="pt-3">
          
          <h5 class="">Total Amount:{{total}}INR</h3>
        </div>
      </div>
      
      <div class="mt-5 p-auto">
        <h4>Select Payment Method</h4>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="paymentMethod" id="cashOnDelivary" value="COD" checked>
          <label class="form-check-label" for="cashOnDelivary">
            Cash on Delivery
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="paymentMethod" id="onLinePayment" value="OnlinePayment">
          <label class="form-check-label" for="onLinePayment">
            Online Payment
          </label>
        </div>
      </div>
      </form>
      <div class="p-3 ms-3">
       
      </div>
       
    </div>
   
  </div>
   
</section>

<script>
  
$(document).ready(function() {
  $('#form1').submit((e)=>{
    
     e.preventDefault();
    if(validate()){
   
    $.ajax({
      url: "/placeOrder",
      type: "POST",
      data: $("#form1").serialize(),
      success: function(response) {
        if(response.codSuccess){
        location.href = "/placeOrderMsg"; 
       }else{
         razorPayment(response.response)
         
       }
      },
    });
    }else {
      console.log("error is here")
    }
  });
});
function razorPayment(order){
let newOrderAmt=order.amount*100;
  var options = {
    "key": "rzp_test_poYQA27SDAayai", 
    "amount":newOrderAmt, 
    "currency": "INR",
    "name": "MobiKart",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id, 
    "handler": function (response){
       
        verifyPayment(response,order)
    },
    "prefill": {
        "name": "Fibin Johnson",
        "email": "gaurav.kumar@example.com",
        "contact": "9000090000"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.open();
}

function verifyPayment(payment,order){
  $.ajax({
     
    url:"/verify-payment",
    type:"post",
    data:{payment,order},
       success: function(response) {
        if(response.status){
        location.href = "/placeOrderMsg"; 
       }
      },
   
  })
}
  function validate() {
    var name = document.getElementById("name").value;
    var email = document.getElementById("inputAddress").value;
    var phone = document.getElementById("mobile").value;
    var state = document.getElementById("state").value;
    var zip = document.getElementById("zip").value;

    var reg = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
   var nameerror = /^[A-Za-z\s]+$/;
    var phoneerror = /^[0-9]{10}$/;
    var error = document.getElementById("error-message");

    if (name === "") {
      error.innerHTML = "Please enter your name";
      return false;
    }
    if (nameerror.test(name) === false) {
      error.innerHTML = "Invalid name";
      return false;
    }
    if (name.length < 5) {
      error.innerHTML = "Name should contain at least 5 characters";
      return false;
    }
    if (email === "") {
      error.innerHTML = "Please enter your email id";
      return false;
    }
    
    if (phoneerror.test(phone) === false) {
      error.innerHTML = "Phone number should contain 10 digits";
      return false;
    }
    return true;
  }

</script>
   

