<div class="container mt-4  d-flex  justify-content-center">
        <div class="card" style="width: 18rem;">            
            <div class="card-header">Register Form</div>    
            <div class="card-body">
                <form action="/signup" method="POST">
                    <div class="mb-3">
                        <label for="name-reg" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name-reg" name="name">                        
                    </div>
                    <div class="mb-3">
                        <label for="email-reg" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email-reg" name="email">                        
                    </div>
                     <div class="mb-3">
                        <label for="email-reg" class="form-label">Phnone No</label>
                        <input type="number" class="form-control" id="email-reg" name="Phone">                        
                    </div>
                    <div class="mb-3">
                        <label for="password-reg" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password-reg" name="password">
                    </div>
                    <div class="mb-3">
                        <label for="password-conf-reg" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="password-conf-reg" name="passwordconfirm">
                    </div>
                    <div><a href="/login">Already have an account...?</a></div>
                    <div class="d-flex  justify-content-center mt-3">
                        <button type="submit" class="btn btn-primary ">Submit</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>